<!--books / edit-->
<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <%= form_with model:@book, url:book_path(@book.id), local:true do |f| %>
        <h1>Editing Book</h1>
        <% if @book.errors.any? %>
          <div class="error">
            <div class="error-message">
              <h2><%= @book.errors.count %> error prohibited this book from being saved:</h2>
            </div>
            <ul class="error-detail">
              <% @book.errors.full_messages.each do |message| %>
                <li class="error-detail-item"><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <%= f.label :title, "Title" %></br>
          <%= f.text_field :title, class:"form-control book_title"  %>
        </div>
        <div class="field">
          <%= f.label :body, "Opinion" %></br>
          <%= f.text_area :body, class:"form-control book_title" %>
        </div>
        <%= f.submit "Update Book", class:"btn btn-success mt-1" %>
      <% end %><br>
      <%= link_to "Show", book_path(@book.id) %>|<%= link_to "Back", books_path %>
    </div>
  </div>
</div>